body {
  width: 1000px;
}

#game-canvas {
  border: 2px solid black;
  width: 80%;
  float: left;
}

#instructions {
  display: block;
  float: left;
  width: 180px;
  height: 100%
  padding: 0px 20px;
  border: 1px solid #ccc;
}
