#game-canvas {
  display: block;
  border: 2px solid black;
  height: 542px;
  width: auto;
  float: left;
}

#instructions {
  display: block;
  float: left;
  width: 15%;
  height: 542px;
  padding: 0px 20px;
  border: 2px solid #ccc;
}
