body {
  background: #202427;
  width: 1100px;
  font-family: roboto;
}

#title-header {
  display: block;
  width: 1056px;
  background: #eee;
  margin: 0;
  padding: 20px;
  border: 2px solid #ccc;
}

#game-canvas {
  display: block;
  height: 542px;
  width: auto;
  float: left;
  background: white;
  border-bottom: 2px solid #ccc;
}

#instructions {
  display: block;
  background: #eee;
  float: left;
  width: 243px;
  height: 542px;
  padding: 0px 20px;
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
}
